GOOGLE_CALENDAR_ICS_URL=https://calendar.google.com/calendar/ical/example/basic.ics
APARTMENT_7_ICS_URL=https://calendar.google.com/calendar/ical/example-7/basic.ics
APARTMENT_8_ICS_URL=https://calendar.google.com/calendar/ical/example-8/basic.ics
APARTMENT_34_ICS_URL=https://calendar.google.com/calendar/ical/example-34/basic.ics
